@import './root.css';

.bannerContainer {
  margin-top: 1em;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
}

.welcome-banner {
    background-color: var(--text-highlight);
    padding: 1em;
    border-radius: 5px;
    animation: notificationPopup 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes notificationPopup {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20%, 90% {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}
    
